main .subscription {
  background-color: color(cyan);
  padding: 3.8rem;
  padding-right: 3rem;
  color: color(lightGray);
  border-bottom-left-radius: inherit;
  h2,
  li > span,
  button {
    font-weight: 700;
  }
  h2 {
    font-size: 1.9rem;
  }
  ul {
    margin: 1.7rem 0 2.3rem;
    li {
      font-size: 1.6rem;
      line-height: 1.6;
      font-weight: 400;

      > span {
        font-size: 3.5rem;
        margin-right: 1rem;
        color: color(lightGray);
      }

      &:first-of-type {
        display: flex;
        align-items: center;
        color: darken(color(lightGray), 10%);
      }
    }
  }
  button {
    color: color(lightGray);
    width: 100%;
    border: 0;
    background-color: color(brightYellow);
    padding: 2rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px -10px color(lightGray);

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
  }
}
